
html, body, #map {
	height: 500px;
	margin: 0;
	padding: 0;
	/*position: relative;*/
}

.locateContainer {
	position: absolute;
	z-index: 100;
	background-color: white;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 29px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	border-radius: 5px;
	top: 150px;
	left: 35px;
}

.geolocationButton:hover {
	background-color: #eee;
}
